classes:
  - name: critical
    max_resp_time: 0.500
    utility: 1.0 
    arrival_weight: 1.0
  - name: best-effort
    max_resp_time: 0.500
    utility: 0.1 
    arrival_weight: 1.0
  - name: deferrable
    max_resp_time: 5.0
    utility: 0.5 
    arrival_weight: 1.0
nodes:
  - name: edge1
    region: edge
    memory: 2048
  - name: edge2
    region: edge
    memory: 2048
    policy: basic
  - name: edge3
    region: edge
    memory: 2048
  - name: cloud1
    region: cloud
    cost: 0.00001
    speedup: 1.1
    memory: 32000
functions:
  - name: f1
    memory: 1024
    duration_mean: 0.240
    duration_scv: 1.0
  - name: f2
    memory: 512
    duration_mean: 0.120
    duration_scv: 1.0
arrivals:
  - node: edge1
    function: f1
    classes:
      - best-effort
    rate: 0.1
  - node: edge2
    function: f2
    trace: traces/iat_660323aa6f1012c8eca3c7d8153cb436320b48ed84f82bf3e816b494ad8dfde2
